html
  head
    title 
    style 
        include ../css/reset.css
        include ../css/mail.css
        
  body

    header 
      h1 CHIBI CAFE
      
    
    
    main 
      div
        p Cet email tient lieu de confirmation pour votre paiement de #{deliveryInfo.total}€, effectué le #{mailOrderDate} sur la boutique Chibi Cafe.
        
        p La commande sera livré au #{deliveryInfo.street_number} #{deliveryInfo.name_of_the_road} #{deliveryInfo.postal_code} #{deliveryInfo.city}
        
        p Merci de votre commande #{deliveryInfo.first_name}